

body {
  background-image: url("/public/images/fondo-pacman.jpg");

}

.container {
  display: flex;
  align-items: center;
  margin-left: 30%;

}

.tittle {
  width: 500px;
  height: auto;
  
}
.logo-pacman {
  width: 300px;
  height: 100px;
}

.pacman {
  width: 100px;
  height: 100px;
}

.fantasmito {
  height: 100px;
  width: 100px;
}

.cherry {
  height: 100px;
  width: 100px;
}


#counter {
  text-align: center;
  margin-right: 20%;
  font-size: 3rem;
  color: yellow;
  margin-left: 15%;
  margin-top: 50px;
  
}

.game-over{
  position: absolute;
  top: 20vh;
  color: white;
  font-size: 100px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
}

.pacman-container {
  margin-left: 40%;
  margin-top: 10%;
}
