

body {
  background-image: url("/images/fondo-pacman.jpg");
  max-width: max-content;
  max-height: max-content;

}

.container {
  display: flex;
  align-items: center;
  margin-left: 30%;

}

.tittle {
  width: 500px;
  height: auto;
  
}
.logo-pacman {
  width: 300px;
  height: 100px;
}

.pacman {
  width: 100px;
  height: 100px;
}

.fantasmito {
  height: 100px;
  width: 100px;
}

.cherry {
  height: 100px;
  width: 100px;
}


#counter {
  text-align: center;
  margin-right: 10%;
  font-size: 3rem;
  color: yellow;
  margin-left: 20%;
  margin-top: 50px;
  
}

.game-over{
  position: absolute;
  text-align: center;
  font-size: 3rem;
  color: yellow;
}

.pacman-container {
  margin-left: 40%;
  margin-top: 10%;
}
